.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
}

.footer p {
    font-size: 0.8rem;
    color: #1a1a1a;
}

.footer p:last-child {
    font-weight: 700;
}